        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="@Href("theme/ico/favicon.ico")">
        
        <title>@Page.Title - Swam That</title>

        <link href="@Href("~/dist/css/bootstrap.css")" rel="stylesheet">
        <link href="@Href("~/dist/css/bootstrap-theme.min.css")" rel="stylesheet">

        <link href="@Href("~/theme/css/theme.css")" rel="stylesheet">

        <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
        <script src="@Href("~/dist/js/bootstrap.min.js")"></script>

        <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
        <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
